%cardBgImgMannschaft {
    width: 100%;
    height: 250px;
}

.card-bgimg-mannschaft-1 {
    @extend %cardBgImgMannschaft;
}

.card-bgimg-mannschaft-2 {
    @extend %cardBgImgMannschaft;
}

.card-bgimg-mannschaft-3 {
    @extend %cardBgImgMannschaft;
}

%ligaImg {
    width: 100%;
    height: 450px;
}

.liga-img-1{
    @extend %ligaImg;
}

.liga-img-2{
    @extend %ligaImg;
}

.liga-img-3{
    @extend %ligaImg;
}


%QuoteCardPosition-MeinungenCard-Hover-CardBgimgLiga-LigaImg1{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 450px;
    object-fit: contain;
}

.quote-card-position .meinungen-card:hover .card-bgimg-liga .liga-img-1{
        @extend %QuoteCardPosition-MeinungenCard-Hover-CardBgimgLiga-LigaImg1;
}

.quote-card-position .meinungen-card-2:hover .card-bgimg-liga .liga-img-2{
        @extend %QuoteCardPosition-MeinungenCard-Hover-CardBgimgLiga-LigaImg1;
}

.quote-card-position .meinungen-card-3:hover .card-bgimg-liga .liga-img-3{
        @extend %QuoteCardPosition-MeinungenCard-Hover-CardBgimgLiga-LigaImg1;
}


%QuoteCardPosition-MeinungenCard-Layer-Layer1 {
    background-image: linear-gradient(#adffe6, #2db3a8);
    transition: .7s ease-in-out;
    transform: translateY(100%);
}

.quote-card-position .meinungen-card .layer.layer1 {
    @extend %QuoteCardPosition-MeinungenCard-Layer-Layer1;
}

.quote-card-position .meinungen-card-2 .layer.layer1 {
    @extend %QuoteCardPosition-MeinungenCard-Layer-Layer1;
}

.quote-card-position .meinungen-card-3 .layer.layer1 {
    @extend %QuoteCardPosition-MeinungenCard-Layer-Layer1;
}


%QuoteCardPosition-MeinungenCard-HoverLayerLayer1 {
    transform: translateY(-100%);
}

.quote-card-position .meinungen-card:hover .layer.layer1 {
    @extend %QuoteCardPosition-MeinungenCard-HoverLayerLayer1;
}

.quote-card-position .meinungen-card-2:hover .layer.layer1 {
    @extend %QuoteCardPosition-MeinungenCard-HoverLayerLayer1;
}

.quote-card-position .meinungen-card-3:hover .layer.layer1 {
    @extend %QuoteCardPosition-MeinungenCard-HoverLayerLayer1;
}

%QuoteCardPosition-MeinungenCard-Layer-Layer2 {
    background-image: linear-gradient(#ffc6a0, rgb(255, 190, 146));
    transition: .8s ease-in-out;
    transform: translateY(200%);
}

.quote-card-position .meinungen-card .layer.layer2 {
    @extend %QuoteCardPosition-MeinungenCard-Layer-Layer2;
}

.quote-card-position .meinungen-card-2 .layer.layer2 {
    @extend %QuoteCardPosition-MeinungenCard-Layer-Layer2;
}

.quote-card-position .meinungen-card-3 .layer.layer2 {
    @extend %QuoteCardPosition-MeinungenCard-Layer-Layer2;
}


%QuoteCardPosition-MeinungenCard-Hover-Layer-Layer2 {
    transform: translateY(-100%);
}

.quote-card-position .meinungen-card:hover .layer.layer2 {
    @extend %QuoteCardPosition-MeinungenCard-Hover-Layer-Layer2;
}

.quote-card-position .meinungen-card-2:hover .layer.layer2 {
    @extend %QuoteCardPosition-MeinungenCard-Hover-Layer-Layer2;
}

.quote-card-position .meinungen-card-3:hover .layer.layer2 {
    @extend %QuoteCardPosition-MeinungenCard-Hover-Layer-Layer2;
}


%QuoteCardPosition-MeinungenCard-MeinungenText {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 450px;
    background-image: linear-gradient(rgba(255,255,255,1), rgba(0, 255, 0, .8));
    color: #000;
    transition: .8s ease-in-out;
    transform: translateY(300%);
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 40px;
}

.quote-card-position .meinungen-card .meinungen-text {
    @extend %QuoteCardPosition-MeinungenCard-MeinungenText;
}

.quote-card-position .meinungen-card .meinungen-text-2 {
    @extend %QuoteCardPosition-MeinungenCard-MeinungenText;
}

.quote-card-position .meinungen-card .meinungen-text-3 {
    @extend %QuoteCardPosition-MeinungenCard-MeinungenText;
}


%QuoteCardPosition-MeinungenCard-Hover-MeinungenText {
    transform: translateY(0%);
}

.quote-card-position .meinungen-card:hover .meinungen-text {
    @extend %QuoteCardPosition-MeinungenCard-Hover-MeinungenText;
}

.quote-card-position .meinungen-card:hover .meinungen-text-2 {
    @extend %QuoteCardPosition-MeinungenCard-Hover-MeinungenText;
}

.quote-card-position .meinungen-card:hover .meinungen-text-3 {
    @extend %QuoteCardPosition-MeinungenCard-Hover-MeinungenText;
}

%QuoteCardPosition-MeinungenCard-MeinungenText-CardTextSection {
    transition: 1.7s ease-in-out;
    transform: translateY(400%);
}

.quote-card-position .meinungen-card .meinungen-text .card-text-section {
    @extend %QuoteCardPosition-MeinungenCard-MeinungenText-CardTextSection;
}

.quote-card-position .meinungen-card .meinungen-text-2 .card-text-section {
    @extend %QuoteCardPosition-MeinungenCard-MeinungenText-CardTextSection;
}

.quote-card-position .meinungen-card .meinungen-text-3 .card-text-section {
    @extend %QuoteCardPosition-MeinungenCard-MeinungenText-CardTextSection;
}


%QuoteCardPosition-MeinungenCard-Hover-MeinungenText-CardTextSection {
    transform: translateY(0%);
}

.quote-card-position .meinungen-card:hover .meinungen-text .card-text-section {
    transform: translateY(0%);
}

.quote-card-position .meinungen-card:hover .meinungen-text-2 .card-text-section {
    transform: translateY(0%);
}

.quote-card-position .meinungen-card:hover .meinungen-text-3 .card-text-section {
    transform: translateY(0%);
}