$phone-width: 576px;
$tablet-width: 768px;
$desktop-width: 992px;
$large-desktop-width: 1200px;

@mixin phone {
    @media (min-width: $phone-width) {
        //About Page
        .aboutP-standard-cell {
            padding: 0 80px;
        }
    }
}
@include phone;


@mixin tablet {
    @media (min-width: $tablet-width) {
        //Homepage

        .meinungen-card-position {
            margin-left: 49%;
        }

        .meinungen-card-position-3 {
            margin-left: 49%;
        }

        .white-background {
            padding-bottom: 10em;
        }

        //About Page

        .aboutP-standard-cell {
            padding: 0 125px;
        }

        #aboutSection3 {
            clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 10%);
        }
    }
}
@include tablet;


@mixin desktop {
    @media (min-width: $desktop-width) {
        //About Page
        .aboutP-standard-cell {
            padding: 0 180px;
        }

        #aboutSection3 {
            clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 15%);
        }
    }
}
@include desktop;

@mixin large-desktop {
    @media (min-width: $large-desktop-width) {
        //About Page
        .aboutP-standard-cell {
            padding: 50px 230px;
        }
    }
}
@include large-desktop;
