.aboutP-heading {
    margin-top: 110px;
}

#aboutCoverPic {
    width: 100%;
    height: 80vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.4), rgba(0, 0, 0, 0.3), rgba(255, 255, 255, 0.4)), url('../images/SW-Cover.jpg');
    clip-path: polygon(100% 0, 100% 80%, 0 100%, 0 20%);
}

#aboutSection2 {
    padding: 100px 0;
}

#aboutSection3 {
    padding-top: 150px;
    padding-bottom: 50px;
    padding-right: 20px;
    padding-left: 20px;
    background-image: linear-gradient(265deg, #ffd5a0, #ED8F03);
    clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 7%);
}


.heading-margin-bottom {
    padding-bottom: 80px;
}
