@media (min-width: 576px) { 
    /* About page */
    .aboutP-standard-cell {
        font-size: 24px;
        padding: 0 40px;
    }
 }

 @media (min-width: 768px) { 
     /* About page */
    .aboutP-standard-cell {
        padding: 0 105px;
    }

    #aboutSection3 {
        clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 10%);
    }
 }

 @media (min-width: 992px) {
    /* About Page */
    .aboutP-standard-cell {
        padding: 0 160px;
    }

    #aboutSection3 {
        clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 15%);
    }
}

@media (min-width: 1200px) {
    /* About Page */
    .aboutP-standard-cell {
        padding: 50px 200px;
    }
}