.news-top-margin {
    margin: 110px 0 70px;
}

.top-margin {
    margin-top: 70px;
}

/* News Page 1 */

.news-page-box-cont {
    width: 100%;
    height: 400px;
    overflow: hidden;
    padding: 0;
    color: white;
    display: flex;
    align-items: flex-end;
}

.news-page-box-cont:hover {
    text-decoration: none;
}

.news1-cover-picture {
    width: 100%;
    height: 75vh;
    color: white;
    padding: 0 100px;
    margin-top: 55px;
    text-align: center;
    background-image: linear-gradient(to right, rgba(255, 174, 0, 0.1), rgba(0, 0, 0, 0.2), rgba(255, 174, 0, 0.1)), url('../images/SW-Cover.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: flex-end;
}

.news-box1 {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3)), url('');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 30px 60px;
    text-decoration: none;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    border: solid #fff 2px;
}

.news-box1:hover {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7)), url('');
    transform: scale(1.1);
    transition: 0.5s;
}

.news-box2 {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3)), url('../images/News-pictures/news-pic-2.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 30px 60px;
    text-decoration: none;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    border: solid #fff 2px;
}

.news-box2:hover {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7)), url('../images/News-pictures/news-pic-2.jpg');
    transform: scale(1.1);
    transition: 0.5s;
}

.news-box3 {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3)), url('../images/News-pictures/news-pic-3.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 30px 60px;
    text-decoration: none;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    border: solid #fff 2px;
}

.news-box3:hover {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7)), url('../images/News-pictures/news-pic-3.jpg');
    transform: scale(1.1);
    transition: 0.5s;
}

.news-box4 {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3)), url('../images/News-pictures/news-pic-4.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 30px 60px;
    text-decoration: none;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    border: solid #fff 2px;
}

.news-box4:hover {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7)), url('../images/News-pictures/news-pic-4.jpg');
    transform: scale(1.1);
    transition: 0.5s;
}

.news-box5 {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3)), url('../images/Homepage-Pictures/basketball-focus.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 30px 60px;
    text-decoration: none;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    border: solid #fff 2px;
}

.news-box5:hover {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7)), url('../images/Homepage-Pictures/basketball-focus.jpg');
    transform: scale(1.1);
    transition: 0.5s;
}