.card-bgimg-mannschaft-1, .card-bgimg-mannschaft-2, .card-bgimg-mannschaft-3 {
  width: 100%;
  height: 250px; }

.liga-img-1, .liga-img-2, .liga-img-3 {
  width: 100%;
  height: 250px; }

.quote-card-position .meinungen-card:hover .card-bgimg-liga .liga-img-1, .quote-card-position .meinungen-card-2:hover .card-bgimg-liga .liga-img-2, .quote-card-position .meinungen-card-3:hover .card-bgimg-liga .liga-img-3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 250px;
  object-fit: contain; }

.quote-card-position .meinungen-card .layer.layer1, .quote-card-position .meinungen-card-2 .layer.layer1, .quote-card-position .meinungen-card-3 .layer.layer1 {
  background-image: linear-gradient(#adffe6, #2db3a8);
  transition: .7s ease-in-out;
  transform: translateY(100%); }

.quote-card-position .meinungen-card:hover .layer.layer1, .quote-card-position .meinungen-card-2:hover .layer.layer1, .quote-card-position .meinungen-card-3:hover .layer.layer1 {
  transform: translateY(-100%); }

.quote-card-position .meinungen-card .layer.layer2, .quote-card-position .meinungen-card-2 .layer.layer2, .quote-card-position .meinungen-card-3 .layer.layer2 {
  background-image: linear-gradient(#ffc6a0, #ffbe92);
  transition: .8s ease-in-out;
  transform: translateY(200%); }

.quote-card-position .meinungen-card:hover .layer.layer2, .quote-card-position .meinungen-card-2:hover .layer.layer2, .quote-card-position .meinungen-card-3:hover .layer.layer2 {
  transform: translateY(-100%); }

.quote-card-position .meinungen-card .meinungen-text, .quote-card-position .meinungen-card .meinungen-text-2, .quote-card-position .meinungen-card .meinungen-text-3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 250px;
  background-image: linear-gradient(white, rgba(0, 255, 0, 0.8));
  color: #000;
  transition: .8s ease-in-out;
  transform: translateY(300%);
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 40px; }

.quote-card-position .meinungen-card:hover .meinungen-text, .quote-card-position .meinungen-card:hover .meinungen-text-2, .quote-card-position .meinungen-card:hover .meinungen-text-3 {
  transform: translateY(0%); }

.quote-card-position .meinungen-card .meinungen-text .card-text-section, .quote-card-position .meinungen-card .meinungen-text-2 .card-text-section, .quote-card-position .meinungen-card .meinungen-text-3 .card-text-section {
  transition: 1.7s ease-in-out;
  transform: translateY(400%); }

.quote-card-position .meinungen-card:hover .meinungen-text .card-text-section {
  transform: translateY(0%); }

.quote-card-position .meinungen-card:hover .meinungen-text-2 .card-text-section {
  transform: translateY(0%); }

.quote-card-position .meinungen-card:hover .meinungen-text-3 .card-text-section {
  transform: translateY(0%); }

.card {
  width: 400px; }

.card-spaces {
  margin: 20px 0; }

.card-bgimg-mannschaft-1 {
  background-image: linear-gradient(to right, rgba(255, 165, 0, 0.1), white, rgba(255, 165, 0, 0.1)); }

.card-bgimg-mannschaft-2 {
  background-image: linear-gradient(to right, rgba(255, 165, 0, 0.1), white, rgba(255, 165, 0, 0.1)); }

.card-bgimg-mannschaft-3 {
  background-image: linear-gradient(to right, rgba(255, 165, 0, 0.1), white, rgba(255, 165, 0, 0.1)); }

.liga-img-1 {
  background-image: linear-gradient(to right, rgba(255, 165, 0, 0.1), white, rgba(255, 165, 0, 0.1)); }

.liga-img-2 {
  background-image: linear-gradient(to right, rgba(255, 165, 0, 0.1), white, rgba(255, 165, 0, 0.1)); }

.liga-img-3 {
  background-image: linear-gradient(to right, rgba(255, 165, 0, 0.1), white, rgba(255, 165, 0, 0.1)); }

.quote-card-position {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 100%; }

.quote-card-position .meinungen-card {
  width: 70%;
  height: 250px;
  position: relative;
  overflow: hidden; }

.quote-card-position .meinungen-card .card-bgimg-liga {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 250px;
  transition: .5s ease-in-out; }

.quote-card-position .meinungen-card:hover .card-bgimg-liga {
  transform: translateY(-100%); }

.quote-card-position .meinungen-card .layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(-100%); }

.quote-card-position .meinungen-card .layer.layer1 {
  background-image: linear-gradient(#adffe6, #2db3a8); }

.quote-card-position .meinungen-card:hover .layer.layer1 {
  transform: translateY(-100%); }

.quote-card-position .meinungen-card .layer.layer2 {
  background-image: linear-gradient(#ffc6a0, #ffbe92); }

.quote-card-position .meinungen-card:hover .layer.layer2 {
  transform: translateY(-100%); }

.quote-card-position .meinungen-card:hover .meinungen-text {
  transform: translateY(0%); }

.quote-card-position .meinungen-card .meinungen-text .card-text-section {
  transition: 1.7s ease-in-out;
  transform: translateY(400%); }

.quote-card-position .meinungen-card:hover .meinungen-text .card-text-section {
  transform: translateY(0%); }

.meinungen-card-position {
  margin-top: 23%; }

.meinungen-card-position-3 {
  margin-left: 49%; }

footer {
  width: 100%;
  height: 300px;
  background-image: linear-gradient(265deg, #beffad, #51c333);
  color: black; }

.footer-title {
  padding-top: 20px;
  text-align: center; }

li {
  list-style: none;
  text-decoration: none;
  color: black;
  text-align: center; }

.footer-list {
  padding: 0; }

.footer-link {
  color: black;
  text-decoration: none;
  margin: 10% 0; }

.footer-link:hover {
  color: black; }

.social-media-icons-footer {
  display: flex;
  align-content: space-around; }

.social-media-icons-footer li {
  padding: 0px 3em; }

.nav-green {
  background-image: linear-gradient(265deg, #beffad, #49b32d); }

.nav-link {
  color: white !important; }

.nav-link::after {
  content: '';
  display: block;
  width: 0;
  border-bottom: 1px solid #ffd7a9;
  transition: width .3s; }

.nav-link:hover::after {
  width: 100%;
  border-bottom: 1px solid #ffd7a9;
  transition: width .3s; }

.nav-link:hover {
  transform: scale(1.1);
  transition: .2s ease-in-out;
  color: #ffd7a9 !important; }

.theNavbrand:hover {
  color: #ffd280 !important;
  transition: .2s ease-in-out; }

.underline {
  text-decoration: underline; }

.font-weight-500 {
  font-weight: 500; }

.container-fluid {
  padding-right: 0; }

.cover-picture {
  width: 100%;
  height: 95vh;
  background-image: linear-gradient(rgba(255, 165, 0, 0.1), white, rgba(255, 165, 0, 0.1));
  margin-top: 55px; }

.cover-pic-heading {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  text-align: center; }

.cover-pic-text {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  text-align: center; }

.container-padding {
  padding-right: 0;
  padding-left: 0; }

.background-size {
  width: 100%;
  padding: 100px 0; }

.center-position {
  display: flex;
  justify-content: center; }

.game-detail-section-heading {
  margin-bottom: 70px; }

.next-game-box {
  width: 70%;
  height: 300px;
  border: 1px solid;
  margin-bottom: 50px; }

.table-header-BG {
  background-color: #28a745; }

.standard-cell-BG {
  background-color: rgba(255, 165, 0, 0.5); }

.orange-BG {
  background-image: linear-gradient(265deg, #ffd5a0, #ED8F03); }

/*
linear-gradient(to right, #2ea90c, #57cc38, #48ea1d, #48ea1d, #57cc38, #2ea90c)
linear-gradient(265deg, #48ea1d, #57cc38)
linear-gradient(265deg, #beffad, #51c333)
linear-gradient(265deg, #beffad, #4cb730)
*/
.aboutP-heading {
  margin-top: 70px; }

#aboutCoverPic {
  width: 100%;
  height: 80vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: linear-gradient(to right, rgba(255, 165, 0, 0.1), white, rgba(255, 165, 0, 0.1));
  clip-path: polygon(100% 0, 100% 80%, 0 100%, 0 20%); }

#aboutSection2 {
  padding: 100px 0; }

#aboutSection3 {
  padding-top: 150px;
  padding-bottom: 50px;
  background-image: linear-gradient(265deg, #ffd5a0, #ED8F03);
  clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 20%); }

.aboutP-standard-cell {
  font-size: 24px; }

.heading-margin-bottom {
  padding-bottom: 80px; }

.contactP-heading {
  margin-top: 70px; }

#message-section {
  border: solid 1px black;
  margin-top: 50px;
  margin-bottom: 50px; }

.kontakt-infos-BG {
  background-image: linear-gradient(265deg, #ffd5a0, #ED8F03);
  padding-bottom: 125px; }

.kontakt-space {
  padding: 0; }

@media (min-width: 576px) {
  .aboutP-standard-cell {
    padding: 0 80px; } }
@media (min-width: 768px) {
  .quote-card-1-position {
    top: 20em; }

  .quote-card-3-position {
    top: 10em;
    margin-bottom: 30px; }

  .white-background {
    padding-bottom: 10em; }

  .aboutP-standard-cell {
    padding: 0 125px; } }
@media (min-width: 992px) {
  .aboutP-standard-cell {
    padding: 0 180px; } }
@media (min-width: 1200px) {
  .aboutP-standard-cell {
    padding: 50px 230px; } }

/*# sourceMappingURL=style.css.map */
